<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="pl">
<head th:replace="shared/header :: headerFragment ('Game')">
    <title>Game</title>
</head>
<body>
<div th:replace="shared/header :: header('')"></div>

<div class="container" th:object="${game}">
    <div class="row justify-content-between my-4">
        <h1 th:text="*{title}"></h1>
        <div sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_MODERATOR')">
            <a class="btn btn-primary" th:href="@{/game/form(id = *{gameId})}" th:text="#{edit}">Edit</a>
            <a class="btn btn-danger" th:href="@{/game/{id}/delete (id = *{gameId})}" th:text="#{delete}">Delete</a>
        </div>
        <div sec:authorize="isAuthenticated()">
            <a class="btn btn-success" th:href="@{/basket/add(id = *{gameId} )}" th:text="#{addToBasket}">Add to basket</a>
        </div>
    </div>

    <div class="row">
        <div class="col-auto">
            <img th:src="${game.cover.link}" />
        </div>
        <div class="col-auto">
            <span th:text="#{game.releaseDate}">Release date</span>: <span th:text="*{releaseDate}"></span><br>
            <span th:each="category : ${game.categories}" th:text="${category.title + ' '}"></span> <br>
            <div th:if="${game.discount?.startDate < currentDate && game.discount?.endDate > currentDate}">
                <span th:text="${#numbers.formatCurrency(game.price - (game.price * (game.discount.value * 0.01)))}"></span>
                <span th:text="${#numbers.formatCurrency(game.price)}" style="text-decoration: line-through"></span>
                (-[[${game.discount.value}]]%)
                [[${game.discount.endDate}]]
            </div>
            <div th:unless="${game.discount?.startDate < currentDate && game.discount?.endDate > currentDate}">
                <span th:text="${#numbers.formatCurrency(game.price)}"></span>
            </div>
        </div>
        <div class="col-12">
            <div sec:authorize="hasAnyRole('ROLE_ADMIN')" >
                <form class="col-3" th:method="POST" th:action="@{/game/{id}/discount/add (id = ${game.gameId})}">
                    <input type="hidden" name="id" th:value="${game.gameId}"/>
                    <h3 th:text="#{addDiscount}">Add discount</h3>
                    <div class="form-group">
                        <input type="number" id="discount" th:field="${discount.value}" min="0" max="100" class="form-control" required/>
                    </div>
                    <div class="form-group">
                        <label for="dateMin" th:text="#{discount.dateMin}">Date from</label>
                        <input type="date" id="dateMin" th:field="${discount.startDate}" class="form-control" required/>
                    </div>
                    <div class="form-group">
                        <label for="dateMax" th:text="#{discount.dateMax}">Date to</label>
                        <input type="date" id="dateMax" th:field="${discount.endDate}" class="form-control" required/>
                    </div>
                    <button type="submit" class="btn btn-success" th:text="#{add}">Add</button>
                </form>
            </div>
            <h3 th:text="#{game.description}">Description</h3>
            <p th:utext="*{description}"></p>

            <h3 th:text="#{game.photos}">Gallery</h3>
            <div class="row">
                <div class="col-6" th:each="photo : *{photos}">
                    <img class="img-fluid" th:src="${photo.link}"/>
                </div>
            </div>

            <h3 th:text="#{game.requirements}">Hardware requirements</h3>
            <div th:each="requirement : *{requirements}">
                <span th:text="${requirement.requirementType.name}"></span>
                <span th:text="${requirement.name}"></span>
            </div>

            <h3 th:text="#{game.reviews}">Reviews</h3>
            <div th:each="review : *{reviews}">
                <h5 th:text="${review.user.userName}"></h5>
                <span th:utext="${review.description}"></span>
                    <div sec:authorize="isAuthenticated()" th:if="${#authentication.name == review.user.userName}">
                        <a class="btn btn-primary" th:href="@{/game/{id}/review/{rid}/edit (id = *{gameId}, rid = ${review.reviewId})}" th:text="#{edit}">Edit</a>
                        <a class="btn btn-danger" th:href="@{/game/{id}/review/{rid}/delete (id = *{gameId}, rid = ${review.reviewId})}" th:text="#{delete}">Delete</a>
                    </div>
                    <div sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_MODERATOR')" th:unless="${#authentication.name == review.user.userName}">
                        <a class="btn btn-primary" th:href="@{/game/{id}/review/{rid}/edit (id = *{gameId}, rid = ${review.reviewId})}" th:text="#{edit}">Edit</a>
                        <a class="btn btn-danger" th:href="@{/game/{id}/review/{rid}/delete (id = *{gameId}, rid = ${review.reviewId})}" th:text="#{delete}">Delete</a>
                    </div>
                <hr>
            </div>
        </div>
    </div>

    <form sec:authorize="isAuthenticated()" th:method="POST" th:action="@{/game/{id}/review/add (id = ${game.gameId}) }">
        <h2 th:text="#{writeReview}">Write a review</h2>
        <div class="form-group">
            <textarea rows=10 cols=100 name="description" th:field="${review.description}" class="form-control" required></textarea>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success" th:text="#{add}">Add</button>
        </div>
    </form>
</div>
<div th:replace="shared/footer :: footer"></div>
</body>

</html>

